        </div>

      </div>

      <div id="footer">
        Copyright {{ now.Year }} {{ $.Site.Params.copyright }}
      </div>

<!-- do not render comments on content pages with the "page" parameter in front matter, such as About, Home, Contacts pages etc -->
{{ if isset .Site "disqusShortname" }} 
        {{ if isset .Params "page" }}

        {{ else }}
                {{ template "_internal/disqus.html" . }}
        {{ end }}
{{ end }}

    </div>
<script src='/js/prism.js'></script>
<script src='/js/toc.js'></script>
  </body>
</html>
